.collection-container {
    padding: 14dvh var(--padding);
}

.collection-container h1 {
    font-size: 6rem;
}

.img-container p {
    display: none;
    position: relative;
    top: -55px;
    left: 0px;
    padding-top: .4rem;
    padding-left: 20px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.nfts-container {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: -1.5rem;
}

.nft {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1.2rem;
    /* align-items: center; */
}

.nft a {
    text-decoration: none;
}

.nft:hover {
    background: var(--primary600);
}

.nft:hover .img-container p {
    display: block;
}

.nft:hover p {
    color: white;
}

.nft:hover .nft-content {
    position: relative;
    top: -40px;
    height: 0;
}

.nft:hover .price-container p {
    color: var(--gray);
}

.nft:hover .price-container h2 {
    color: var(--bg500);
}

.nft img {
    width: 100%;
    padding-bottom: 1rem;
    border-radius: .6rem;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: var(--gray);
    opacity: 0.4;
    margin: 1rem 0;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 650px) {
    .collection-container {
        padding: 4rem var(--padding-mobile);
    }

    .nfts-container {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0;
        gap: 6rem;
    }

    .nft:hover {
        height: 100%;
    }

    .nft:hover .nft-content {
        position: relative;
        top: -40px;
        left: 0;
        height: 60px;
    }
}